.table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}
.tableHeader {
  border: 1px solid black;
  background: black;
  color: white;
  font-size: 20px;
}

.greyRow {
  background-color: #dedddd;
}

.whiteRow {
  background-color: #ffffff;
}
.cell {
  padding: 8px;
  border: 1px solid black;
  text-transform: capitalize;
}
